interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [9cccf38c-45e2-4be1-8fb0-0e84e9d41214]
    method: POST
    uri: https://api.tap.company/v2/testing
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [836cef95-24fb-4534-b2da-79ef50f06dd6]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Jm9x20181420n4K92139611","object":"customer","live_mode":false,"created":"1542810007722","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-AkDBlfuoOUyHueXBLmAy06z3Utk"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'card[number]=5123450000000008&card[exp_year]=21&card[cvc]=100&card[exp_month]=5'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [7842aebd-5721-4029-be3d-246169b68fee]
    method: POST
    uri: https://api.tap.company/v2/tokens
  response:
    body: {string: !!python/unicode '{"id":"tok_ZfulyV6C0EwsdRoXF1IhiPn2","object":"token","card":{"id":"card_5tna3fpRLANvo0HlwQDmCGIV","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"S2gIAzjmFcwL0rJdNP5xwR+a+","brand":"MASTERCARD","exp_month":5,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542799336,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"188-8DtdXd06G2VB3UyRJGtBd0qFPSk"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'source=tok_ZfulyV6C0EwsdRoXF1IhiPn2'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [d49363f8-7b74-4650-9a97-c31ba3f66eca]
    method: POST
    uri: https://api.tap.company/v2/card/cus_Jm9x20181420n4K92139611
  response:
    body: {string: !!python/unicode '{"id":"card_5tna3fpRLANvo0HlwQDmCGIV","object":"card","address":{},"customer":"cus_Jm9x20181420n4K92139611","funding":"CREDIT","fingerprint":"S2gIAzjmFcwL0rJdNP5xwR+a+","brand":"MASTERCARD","exp_month":5,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"110-UWoqokjgRuRZc9qZNW6BguHlwAU"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [d323dadf-5724-4009-8952-f744dea76f0d]
    method: DELETE
    uri: https://api.tap.company/v2/card/cus_Jm9x20181420n4K92139611/card_5tna3fpRLANvo0HlwQDmCGIV
  response:
    body: {string: !!python/unicode '{"deleted":true,"id":"card_5tna3fpRLANvo0HlwQDmCGIV"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"35-qPRjrBkZZMHyHUc2FnEo6pr8vmc"]
    status: {code: 200, message: OK}
version: 1
