interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [3fd76b39-c7d3-4a59-aecd-478b6b91a996]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Kb5920181420g5Y92117911","object":"customer","live_mode":false,"created":"1542810001563","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-GD7tISDpGKI+GY4l3SN+kfWLME0"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'card[number]=5123450000000008&card[exp_year]=21&card[cvc]=100&card[exp_month]=5'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [12280229-7855-4336-a07a-dfa0ca2fdbfb]
    method: POST
    uri: https://api.tap.company/v2/tokens
  response:
    body: {string: !!python/unicode '{"id":"tok_4CVlJDQjn9RGN0aqstLYZ2Pu","object":"token","card":{"id":"card_VTm2GOlWQuwyte0q9FRk8jM4","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"S2gIAzjmFcwL0rJdNP5xwR+a+","brand":"MASTERCARD","exp_month":5,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542799310,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"188-HOIr6UcMNrOV2/JmbSbMQY/BEJI"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'source=tok_4CVlJDQjn9RGN0aqstLYZ2Pu'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [22d17dbd-6cd7-4a7f-ac23-3e95e21e9c3b]
    method: POST
    uri: https://api.tap.company/v2/card/cus_Kb5920181420g5Y92117911
  response:
    body: {string: !!python/unicode '{"id":"card_VTm2GOlWQuwyte0q9FRk8jM4","object":"card","address":{},"customer":"cus_Kb5920181420g5Y92117911","funding":"CREDIT","fingerprint":"S2gIAzjmFcwL0rJdNP5xwR+a+","brand":"MASTERCARD","exp_month":5,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"110-ndgi8eI2Il3PdlvlktOpuOxxbBA"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [ba07d5db-2042-4c8f-928e-d40594bcb7f5]
    method: GET
    uri: https://api.tap.company/v2/card/cus_Kb5920181420g5Y92117911/card_VTm2GOlWQuwyte0q9FRk8jM4
  response:
    body: {string: !!python/unicode '{"id":"card_VTm2GOlWQuwyte0q9FRk8jM4","object":"card","address":{},"customer":"cus_Kb5920181420g5Y92117911","funding":"CREDIT","fingerprint":"S2gIAzjmFcwL0rJdNP5xwR+a+","brand":"MASTERCARD","exp_month":5,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"110-ndgi8eI2Il3PdlvlktOpuOxxbBA"]
    status: {code: 200, message: OK}
version: 1
