interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [97b359fd-7743-47ac-b684-42529a13e794]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_p9R520182341k2B52482311","object":"customer","live_mode":false,"created":"1543102880136","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-3KDTvE+SuvMFSycmQ+I2QV0nww8"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'customer[id]=cus_p9R520182341k2B52482311&redirect[url]=http%3A%2F%2Fyour_website.com%2Fredirect_url&source[id]=src_all&currency=KWD&amount=10&post[url]=http%3A%2F%2Fyour_website.com%2Fpost_url'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [f8e63dbb-c7dd-47b5-8cac-f37709ef8f17]
    method: POST
    uri: https://api.tap.company/v2/charges
  response:
    body: {string: !!python/unicode "{\r\n  \"id\": \"chg_t4QR20182341w9P42474111\"\
        ,\r\n  \"object\": \"charge\",\r\n  \"live_mode\": false,\r\n  \"api_version\"\
        : \"V2\",\r\n  \"status\": \"INITIATED\",\r\n  \"amount\": 10.000,\r\n  \"\
        currency\": \"KWD\",\r\n  \"threeDSecure\": true,\r\n  \"save_card\": false,\r\
        \n  \"transaction\": {\r\n    \"timezone\": \"UTC+03:00\",\r\n    \"created\"\
        : \"1543102884635\",\r\n    \"url\": \"https://sandbox.payments.tap.company/test_gosell/v2/payment/response.aspx?tap_chg=D2%2fN03igMZqx%2fTL98mmYNz9sDpY6tgDJ4%2f%2f5QDwkpso%3d&sess=ekAAvjT4QYo%3d&token=D2%2fN03igMZqx%2fTL98mmYNz9sDpY6tgDJ%2fuCjPTl0k5I%3d\"\
        \r\n  },\r\n  \"response\": {\r\n    \"code\": \"100\",\r\n    \"message\"\
        : \"Initiated\"\r\n  },\r\n  \"customer\": {\r\n    \"id\": \"cus_p9R520182341k2B52482311\"\
        \r\n  },\r\n  \"source\": {\r\n    \"object\": \"source\",\r\n    \"id\":\
        \ \"src_all\"\r\n  },\r\n  \"redirect\": {\r\n    \"status\": \"PENDING\"\
        ,\r\n    \"url\": \"http://your_website.com/redirect_url\"\r\n  },\r\n  \"\
        post\": {\r\n    \"status\": \"PENDING\",\r\n    \"url\": \"http://your_website.com/post_url\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json]
      etag: [W/"3af-/c/S3hgEqZs9qmS2AB33xl5GB7Q"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'status=&starting_after=&limit=25&period[date][from]=1516315144000&period[date][to]=1545172744000'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [320c7838-df7f-4136-8179-24a261b6eacf]
    method: POST
    uri: https://api.tap.company/v2/charges/list
  response:
    body: {string: !!python/unicode "{\r\n  \"object\": \"list\",\r\n  \"live_mode\"\
        : false,\r\n  \"count\": 25,\r\n  \"has_more\": true,\r\n  \"api_version\"\
        : \"V2\",\r\n  \"charges\": [\r\n    {\r\n      \"id\": \"chg_Zy9m20181622h5KN2951910\"\
        ,\r\n      \"object\": \"charge\",\r\n      \"live_mode\": false,\r\n    \
        \  \"api_version\": \"V2\",\r\n      \"status\": \"ABANDONED\",\r\n      \"\
        amount\": 1.0,\r\n      \"currency\": \"BHD\",\r\n      \"threeDSecure\":\
        \ true,\r\n      \"save_card\": false,\r\n      \"statement_descriptor\":\
        \ \"Sample\",\r\n      \"description\": \"Test Description\",\r\n      \"\
        metadata\": {\r\n        \"udf1\": \"test 1\",\r\n        \"udf2\": \"test\
        \ 2\"\r\n      },\r\n      \"transaction\": {\r\n        \"timezone\": \"\
        UTC+03:00\",\r\n        \"created\": \"1540830133736\"\r\n      },\r\n   \
        \   \"reference\": {\r\n        \"track\": \"tck_Yh4i20181622Xa5q2978710\"\
        ,\r\n        \"payment\": \"pay_Xl4u20181622c5LK2978710\",\r\n        \"transaction\"\
        : \"txn_0002\",\r\n        \"order\": \"ord_0002\"\r\n      },\r\n      \"\
        response\": {\r\n        \"code\": \"301\",\r\n        \"message\": \"Abandoned\"\
        \r\n      },\r\n      \"receipt\": {\r\n        \"id\": \"2018102916221428\"\
        ,\r\n        \"email\": false,\r\n        \"sms\": true\r\n      },\r\n  \
        \    \"customer\": {\r\n        \"first_name\": \"test\",\r\n        \"middle_name\"\
        : \"test\",\r\n        \"last_name\": \"test\",\r\n        \"email\": \"test@test.com\"\
        ,\r\n        \"phone\": {\r\n          \"country_code\": \"965\",\r\n    \
        \      \"number\": \"50000000\"\r\n        }\r\n      },\r\n      \"source\"\
        : {\r\n        \"object\": \"source\",\r\n        \"id\": \"src_card\"\r\n\
        \      },\r\n      \"redirect\": {\r\n        \"status\": \"PENDING\",\r\n\
        \        \"url\": \"http://nuzhaapp.com/cmsAdmin\"\r\n      },\r\n      \"\
        post\": {\r\n        \"status\": \"PENDING\",\r\n        \"url\": \"http://nuzhaapp.com/cmsAdmin\"\
        \r\n      }\r\n    },\r\n    {\r\n      \"id\": \"chg_Zy9k20182022b5LR09[...]
