interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [c57fbddf-a396-418c-8502-fe4940abc76e]
    method: POST
    uri: https://api.tap.company/v2/testing
  response:
    body: {string: !!python/unicode '{"id":"cus_g9JQ20181426Pp9r212211","object":"customer","live_mode":false,"created":"1542810408214","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cc-uSx6TIXO38DfVcMtWxH/1mSTn1s"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [124f0d80-393b-4cec-b6bd-a31e8c0a5f7d]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Tc4x2018200a9L42110111","object":"customer","live_mode":false,"created":"1542830405342","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cc-2y4jKrP08Vnx2P2/cJ10b59/hoE"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'customer[id]=cus_Tc4x2018200a9L42110111&redirect[url]=http%3A%2F%2Fyour_website.com%2Fredirect_url&source[id]=src_all&currency=KWD&amount=10&post[url]=http%3A%2F%2Fyour_website.com%2Fpost_url'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [62971413-9fa4-4016-88a6-f0b826187a73]
    method: POST
    uri: https://api.tap.company/v2/charges
  response:
    body: {string: !!python/unicode "{\r\n  \"id\": \"chg_Jb442018200b4DM2195411\"\
        ,\r\n  \"object\": \"charge\",\r\n  \"live_mode\": false,\r\n  \"api_version\"\
        : \"V2\",\r\n  \"status\": \"INITIATED\",\r\n  \"amount\": 10.000,\r\n  \"\
        currency\": \"KWD\",\r\n  \"threeDSecure\": true,\r\n  \"save_card\": false,\r\
        \n  \"transaction\": {\r\n    \"timezone\": \"UTC+03:00\",\r\n    \"created\"\
        : \"1542830411916\",\r\n    \"url\": \"https://sandbox.payments.tap.company/test_gosell/v2/payment/response.aspx?tap_chg=LjIxpa8CKF7wI74vi0vyAvrcXN8NMYkB0DWorcxtb6Y%3d&sess=piH5qzi%2bXDU%3d&token=LjIxpa8CKF7wI74vi0vyAvrcXN8NMYkB205d4QPMvn4%3d\"\
        \r\n  },\r\n  \"response\": {\r\n    \"code\": \"100\",\r\n    \"message\"\
        : \"Initiated\"\r\n  },\r\n  \"customer\": {\r\n    \"id\": \"cus_Tc4x2018200a9L42110111\"\
        \r\n  },\r\n  \"source\": {\r\n    \"object\": \"source\",\r\n    \"id\":\
        \ \"src_all\"\r\n  },\r\n  \"redirect\": {\r\n    \"status\": \"PENDING\"\
        ,\r\n    \"url\": \"http://your_website.com/redirect_url\"\r\n  },\r\n  \"\
        post\": {\r\n    \"status\": \"PENDING\",\r\n    \"url\": \"http://your_website.com/post_url\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json]
      etag: [W/"3a1-r6/xTnduzZr16VdhAmamO882LPc"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'receipt[sms]=True&receipt[email]=False&description=test&metadata[udf2]=test'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [0fcaf910-e819-4174-82e6-1961bfd15dd7]
    method: PUT
    uri: https://api.tap.company/v2/charges/chg_Jb442018200b4DM2195411
  response:
    body: {string: !!python/unicode "{\r\n  \"errors\": [\r\n    {\r\n      \"code\"\
        : \"9999\",\r\n      \"description\": \"Sorry, we couldn't achieve your request\
        \ at the moment. Please try again later, or contact our customer support.\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json]
      etag: [W/"c5-hvBoZPYoYhPy/GDO6mvX/Olvmk4"]
    status: {code: 400, message: Bad Request}
version: 1
