interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [9cccf38c-45e2-4be1-8fb0-0e84e9d41214]
    method: POST
    uri: https://api.tap.company/v2/testing
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}

version: 1
