interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [9cccf38c-45e2-4be1-8fb0-0e84e9d41214]
    method: POST
    uri: https://api.tap.company/v2/testing
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [14229292-50ac-4eba-8029-f0bf44303138]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_n2RP20181432e4KF2154611","object":"customer","live_mode":false,"created":"1542810734796","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-DwoNeXrKTH2iDpaMv20DH/56ZHU"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [d079f3d0-b640-4885-9864-5f9fe5e07e89]
    method: GET
    uri: https://api.tap.company/v2/customers/cus_n2RP20181432e4KF2154611
  response:
    body: {string: !!python/unicode '{"id":"cus_n2RP20181432e4KF2154611","object":"customer","live_mode":false,"created":"1542810734796","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-DwoNeXrKTH2iDpaMv20DH/56ZHU"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [53fe4f1f-22ee-4793-8b2e-24aea79d696e]
    method: DELETE
    uri: https://api.tap.company/v2/customers/cus_n2RP20181432e4KF2154611?id=cus_n2RP20181432e4KF2154611
  response:
    body: {string: !!python/unicode '{"id":"cus_n2RP20181432e4KF2154611","deleted":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"33-eKBHXdsIhX93hiuw2MYvpFJ5Btk"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [579526d9-889c-4473-a677-45bec885f326]
    method: POST
    uri: https://api.tap.company/v2/customers/list
  response:
    body: {string: !!python/unicode '{"object":"list","live_mode":false,"api_version":"V2","count":25,"has_more":true,"customers":[{"id":"cus_Zh5j20181430s5KD2145211","object":"customer","live_mode":false,"created":"1542810601775","first_name":"test","middle_name":"test","last_name":"test","phone":{"country_code":"965","number":"50000000"}},{"id":"cus_g9JQ20181426Pp9r212211","object":"customer","live_mode":false,"created":"1542810408214","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"},{"id":"cus_Qn4920181426g4OK2172311","object":"customer","live_mode":false,"created":"1542810395926","first_name":"test","middle_name":"test","last_name":"test","phone":{"country_code":"965","number":"50000000"}},{"id":"cus_Nm5r20181420Pt452194811","object":"customer","live_mode":fa[...]
