interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [26abece9-4631-498c-ad15-7c6de61b4302]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Ql4t20182349Hj942452411","object":"customer","live_mode":false,"created":"1543103372732","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-kujFKZn89ofdxt+X8BMv9v7zmFQ"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'customer[id]=cus_Ql4t20182349Hj942452411&redirect[url]=http%3A%2F%2Fyour_website.com%2Fredirect_url&source[id]=src_all&currency=KWD&amount=10&post[url]=http%3A%2F%2Fyour_website.com%2Fpost_url'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [f55b22b8-be4d-4256-a20c-3fce8c6c1795]
    method: POST
    uri: https://api.tap.company/v2/charges
  response:
    body: {string: !!python/unicode "{\r\n  \"id\": \"chg_Zc4920182349a4K92434111\"\
        ,\r\n  \"object\": \"charge\",\r\n  \"live_mode\": false,\r\n  \"api_version\"\
        : \"V2\",\r\n  \"status\": \"INITIATED\",\r\n  \"amount\": 10.000,\r\n  \"\
        currency\": \"KWD\",\r\n  \"threeDSecure\": true,\r\n  \"save_card\": false,\r\
        \n  \"transaction\": {\r\n    \"timezone\": \"UTC+03:00\",\r\n    \"created\"\
        : \"1543103377265\",\r\n    \"url\": \"https://sandbox.payments.tap.company/test_gosell/v2/payment/response.aspx?tap_chg=F6fQ8Y01CiF44G3ChXC4GCxHdtfP%2fWIe4%2f%2f5QDwkpso%3d&sess=S%2b9IiDIfDBA%3d&token=F6fQ8Y01CiF44G3ChXC4GCxHdtfP%2fWIeZb6vXb8x0uM%3d\"\
        \r\n  },\r\n  \"response\": {\r\n    \"code\": \"100\",\r\n    \"message\"\
        : \"Initiated\"\r\n  },\r\n  \"customer\": {\r\n    \"id\": \"cus_Ql4t20182349Hj942452411\"\
        \r\n  },\r\n  \"source\": {\r\n    \"object\": \"source\",\r\n    \"id\":\
        \ \"src_all\"\r\n  },\r\n  \"redirect\": {\r\n    \"status\": \"PENDING\"\
        ,\r\n    \"url\": \"http://your_website.com/redirect_url\"\r\n  },\r\n  \"\
        post\": {\r\n    \"status\": \"PENDING\",\r\n    \"url\": \"http://your_website.com/post_url\"\
        \r\n  }\r\n}"}
    headers:
      content-type: [application/json]
      etag: [W/"3ab-K/X+atGQUkz5GgXhkOhuaeJ4HDU"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'currency=KWD&reason=requested_by_customer&description=Test+Description&amount=10.0&charge_id=chg_Zc4920182349a4K92434111'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [b50d2c28-dcd5-441c-98df-f78cffde309e]
    method: POST
    uri: https://api.tap.company/v2/refunds
  response:
    body: {string: !!python/unicode "{\r\n  \"id\": \"re_a9ZK20182351x2HB2465911\"\
        ,\r\n  \"object\": \"refund\",\r\n  \"api_version\": \"V2\",\r\n  \"live_mode\"\
        : false,\r\n  \"amount\": 10.0,\r\n  \"charge_id\": \"chg_Zc4920182349a4K92434111\"\
        ,\r\n  \"created\": \"1543103492926\",\r\n  \"currency\": \"KWD\",\r\n  \"\
        status\": \"PENDING\",\r\n  \"response\": {\r\n    \"code\": \"100\",\r\n\
        \    \"message\": \"Pending\"\r\n  },\r\n  \"description\": \"Test Description\"\
        ,\r\n  \"reason\": \"requested_by_customer\"\r\n}"}
    headers:
      content-type: [application/json]
      etag: [W/"190-oD0/GVhCSlJLUBcuOZbUMuwkWa8"]
    status: {code: 200, message: OK}
version: 1
