interactions:
- request:
    body: !!python/unicode '{"source": "tok_xxx"}'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/json]
    method: POST
    uri: https://api.tap.company/v1/card/xxx
  response:
    body: {string: !!python/unicode '{"status":"fail","type":"customer_missing","message":"Invalid
        customer id"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4b-vEI6/ECc3wVDEkQzl08wf8zS3C4"]
    status: {code: 404, message: Not Found}
version: 1
