interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [9cccf38c-45e2-4be1-8fb0-0e84e9d41214]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'source=tok_baUJjDYkyxnszgXEwuthQCqP'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [b1ee697f-2bc2-4a67-a881-0e72fd3677da]
    method: POST
    uri: https://api.tap.company/v2/card/cus_a9RF20181234r4DR2199711
  response:
    body: {string: !!python/unicode '{"id":"card_gDyaVQqHxTv7cwGJ43UXezSY","object":"card","address":{"city":"Kuwait
        city","country":"Kuwait","line1":"Salmiya, 21","avenue":"Gulf","street":"Salim"},"customer":"cus_a9RF20181234r4DR2199711","funding":"DEBIT","fingerprint":"Mo79HVDearBmi3H98qjKSwEvv","brand":"VISA","exp_month":12,"exp_year":2021,"last_four":"1019","first_six":"450875","name":"test
        token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"170-582NBeyfW03HBB4BbOVSWPy/RT8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [88eac62e-807f-4a65-9204-0c1ea203f6d4]
    method: GET
    uri: https://api.tap.company/v2/card/cus_a9RF20181234r4DR2199711/card_JEHx97l5kD0i4dgMUoFrvmTZ
  response:
    body: {string: !!python/unicode '{"id":"card_JEHx97l5kD0i4dgMUoFrvmTZ","object":"card","address":{"city":"Kuwait
        city","country":"Kuwait","line1":"Salmiya, 21","avenue":"Gulf","street":"Salim"},"customer":"cus_a9RF20181234r4DR2199711","funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":"test
        token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"177-XnRasd21brWaOxBRnGh+jhnks/U"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [46492e8b-decc-4a56-adf2-3756cdcfe0af]
    method: GET
    uri: https://api.tap.company/v2/card/cus_a9RF20181234r4DR2199711
  response:
    body: {string: !!python/unicode '{"object":"list","has_more":false,"data":[{"id":"card_gDyaVQqHxTv7cwGJ43UXezSY","object":"card","address":{"city":"Kuwait
        city","country":"Kuwait","line1":"Salmiya, 21","avenue":"Gulf","street":"Salim"},"customer":"cus_a9RF20181234r4DR2199711","funding":"DEBIT","fingerprint":"Mo79HVDearBmi3H98qjKSwEvv","brand":"VISA","exp_month":12,"exp_year":2021,"last_four":"1019","first_six":"450875","name":"test
        token"},{"id":"card_JEHx97l5kD0i4dgMUoFrvmTZ","object":"card","address":{"city":"Kuwait
        city","country":"Kuwait","line1":"Salmiya, 21","avenue":"Gulf","street":"Salim"},"customer":"cus_a9RF20181234r4DR2199711","funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":"test
        token"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"314-ditlODLQkCY5lt6VJmGljsi2sY4"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [0495e84e-780b-4107-a49f-9dec59a75f18]
    method: DELETE
    uri: https://api.tap.company/v2/card/cus_a9RF20181234r4DR2199711/card_JEHx97l5kD0i4dgMUoFrvmTZ
  response:
    body: {string: !!python/unicode '{"deleted":true,"id":"card_JEHx97l5kD0i4dgMUoFrvmTZ"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"35-9brGnKlq+ZLwGO/8NVsPwjmOPn0"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [1f93e3ff-47db-4c81-9ac0-ee74acccd04f]
    method: GET
    uri: https://api.tap.company/v2/customers/cus_a9RF20181234r4DR2199711
  response:
    body: {string: !!python/unicode '{"id":"cus_a9RF20181234r4DR2199711","object":"customer","live_mode":false,"created":"1542803672202","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cd-K6VI6BHQTZG0d8hZSrpqYqkFRAY"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [3b8ac54a-312f-469a-bd39-424362823048]
    method: DELETE
    uri: https://api.tap.company/v2/customers/cus_a9RF20181234r4DR2199711?id=cus_a9RF20181234r4DR2199711
  response:
    body: {string: !!python/unicode '{"id":"cus_a9RF20181234r4DR2199711","deleted":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"33-96UHKriQ5VBDOzPuII6hOch30d8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [aaa04a9e-d322-4b47-8ab2-da5f7ed7bf0c]
    method: POST
    uri: https://api.tap.company/v2/customers/list
  response:
    body: {string: !!python/unicode '{"object":"list","live_mode":false,"api_version":"V2","count":25,"has_more":true,"customers":[{"id":"cus_Ob4420181227l5F22143811","object":"customer","live_mode":false,"created":"1542803277684","first_name":"Nandani","middle_name":"","last_name":"Choudhary","email":"nandanik@tiinfotech.com","phone":{"country_code":"+965","number":"7894561231"}},{"id":"cus_o4X920181214h9MH2173311","object":"customer","live_mode":false,"created":"1542802450931","first_name":"First","middle_name":"","last_name":"Name","email":"email@email.com","phone":{"country_code":"965","number":"333333333"}},{"id":"cus_Yk9420181212Zo2t2136811","object":"customer","live_mode":false,"created":"1542802332568","first_name":"First","middle_name":"","last_name":"Name","email":"email@email.com","phone":{"country_code":"965","number":"333333333"}},{"id":"cus_Hj452018118g5Y92127811","object":"customer","live_mode":false,"created":"1542798503482","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"},{"id":"cus_Lx9p20181011Le2x2152511","object":"customer","live_mode":false,"created":"1542795082754","first_name":"First","middle_name":"","last_name":"Name","email":"email@email.com","phone":{"country_code":"965","number":"333333333"}},{"id":"cus_Kr9y201897g4JR2180011","object":"customer","live_mode":false,"created":"1542791251989","first_name":"asd","middle_name":"","last_name":"asd","email":"ind@gmail.com","phone":{"country_code":"197","number":"500000"}},{"id":"cus_Ze2g2018827r9H52144911","object":"customer","live_mode":false,"created":"1542788863709","description":"test","metadata":{"udf1":"test"},"currency":"KWD","first_name":"test","middle_name":"test","last_name":"test","email":"test@test.com","phone":{"country_code":"965","number":"00000000"}},{"id":"cus_Th9b2018716Fy4n2134511","object":"customer","live_mode":false,"created":"1542784577548","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"},{"id":"cus_Oy942018634n2FM2187511","object":"customer","live_mode":false,"created":"1542782081101","currency":"MAD","nationality":"Mor[...]
- request:
    body: !!python/unicode 'card[number]=5123450000000008&card[exp_year]=21&card[cvc]=124&card[exp_month]=12'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [a1632d89-72e2-491c-8c81-15d18a410603]
    method: POST
    uri: https://api.tap.company/v2/tokens
  response:
    body: {string: !!python/unicode '{"id":"tok_oPwr5j1MHUps9tmKBqFdXzR8","object":"token","card":{"id":"card_gRVe4miKyG8qXhrWzxsjZkb9","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542793000,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"189-DgU0CWgLyTVTocpJK9BQBMsyBuQ"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [54954778-3d79-4385-9055-e3ff0399b9da]
    method: GET
    uri: https://api.tap.company/v2/tokens/tok_ryzTND5kYZtcKdslWXBujCOF
  response:
    body: {string: !!python/unicode '{"status":"fail","type":"record_not_found","message":"Couldn''t
        find Token"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4b-Ux+w2BzSW53sChwTPRoPHsVTTUY"]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [d40217c9-9745-4798-ae67-5221bb2db628]
    method: GET
    uri: https://api.tap.company/v2/tokens/tok_oPwr5j1MHUps9tmKBqFdXzR8
  response:
    body: {string: !!python/unicode '{"id":"tok_oPwr5j1MHUps9tmKBqFdXzR8","object":"token","card":{"id":"card_gRVe4miKyG8qXhrWzxsjZkb9","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542793000,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"189-DgU0CWgLyTVTocpJK9BQBMsyBuQ"]
    status: {code: 200, message: OK}
version: 1
