interactions:
- request:
    body: !!python/unicode 'nationality=Moroccan&first_name=test&last_name=test&email=test%40test.com&currency=MAD'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [9cccf38c-45e2-4be1-8fb0-0e84e9d41214]
    method: POST
    uri: https://api.tap.company/v2/customers
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [b924f083-e7ad-46f2-92d2-f09ae8ca3adb]
    method: GET
    uri: https://api.tap.company/v2/customers/cus_Rj92201858r4N52153711
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","object":"customer","live_mode":false,"created":"1542776907774","currency":"MAD","nationality":"Moroccan","first_name":"test","last_name":"test","email":"test@test.com"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cb-GJiA/P24MSPh+hbHYphyMnD30Rw"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [0d81e83f-46b5-4a8a-8258-42f1580c6f20]
    method: DELETE
    uri: https://api.tap.company/v2/customers/cus_Rj92201858r4N52153711?id=cus_Rj92201858r4N52153711
  response:
    body: {string: !!python/unicode '{"id":"cus_Rj92201858r4N52153711","deleted":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"31-WCED3jb/M76neDtSqPNY62AOsWo"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [985e1408-851a-41da-be24-aad252956b07]
    method: POST
    uri: https://api.tap.company/v2/customers/list
  response:
    body: {string: !!python/unicode '{"object":"list","live_mode":false,"api_version":"V2","count":25,"has_more":true,"customers":[{"id":"cus_Bc9p2018536Hj4w2164711","object":"customer","live_mode":false,"created":"1542778593880","first_name":"Jad","last_name":"Windows","email":"jad+windows@rain.bh","phone":{"country_code":"1","number":"9376542800"}},{"id":"cus_Rq4o2018534Bb9r2140511","object":"customer","live_mode":false,"created":"1542778464598","first_name":"Jad","last_name":"Windows","email":"jad+windows@rain.bh","phone":{"country_code":"1","number":"9376542800"}},{"id":"cus_Lc4q2018525k9T5212111","object":"customer","live_mode":false,"created":"1542777933327","first_name":"Jad","last_name":"Windows","email":"jad+windows@rain.bh","phone":{"country_code":"1","number":"9376542800"}},{"id":"cus_Jt9j2018518Bx2t2167211","object[...]
- request:
    body: !!python/unicode 'card[number]=5123450000000008&card[exp_year]=21&card[cvc]=124&card[exp_month]=12'
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [0caa5ce2-89ce-4a22-b577-67259a2ecffe]
    method: POST
    uri: https://api.tap.company/v2/tokens
  response:
    body: {string: !!python/unicode '{"id":"tok_j4qu6QWKO8UVmNaosIZ1fJvy","object":"token","card":{"id":"card_wnR2qYTQJ7fMCujxVZU6aO3m","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542768511,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"189-ftlwyYblWYv7udEWa8AtQsOEsjI"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer sk_test_XKokBfNWv6FIYuTMg5sLPjhJ]
      Content-Type: [application/x-www-form-urlencoded]
      Idempotency-Key: [ee44905a-429d-4ff0-9f17-480d95181c91]
    method: GET
    uri: https://api.tap.company/v2/tokens/tok_j4qu6QWKO8UVmNaosIZ1fJvy
  response:
    body: {string: !!python/unicode '{"id":"tok_j4qu6QWKO8UVmNaosIZ1fJvy","object":"token","card":{"id":"card_wnR2qYTQJ7fMCujxVZU6aO3m","object":"card","address":{},"customer":null,"funding":"CREDIT","fingerprint":"0F9/2hS66rMpSpJxVaehzbRqq","brand":"MASTERCARD","exp_month":12,"exp_year":2021,"last_four":"0008","first_six":"512345","name":null},"client_ip":null,"created":1542768511,"live_mode":false,"type":"CARD","used":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"189-ftlwyYblWYv7udEWa8AtQsOEsjI"]
    status: {code: 200, message: OK}
version: 1
